In [1]:
import pandas as pd
import numpy as np

#Descriptive & Basic Queries (Questions 1-50)

In [37]:
df = pd.read_excel(r"C:\Pandas\Sample - Superstore.xls")
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [3]:
#Question 1: Find total number of orders in the dataset.

total_orders = df['Order ID'].nunique()
print("Total Orders:",total_orders)

Total Orders: 5009

In [4]:
#Question 2: Find the earliest order date.

earliest_order_date = df['Order Date'].min()
print(earliest_order_date)

2014-01-03 00:00:00

In [5]:
#Question 3: Find the latest order date.

latest_order_date = df['Order Date'].max()
print(latest_order_date)

2017-12-30 00:00:00

In [6]:
#Question 4: Find the total number of unique customers.

unique_customers = df['Customer ID'].nunique()
print(unique_customers)

793

In [7]:
#Question 5: Find the total number of unique products sold.

unique_products = df['Product ID'].nunique()
print(unique_products)

1862

In [14]:
#Question 6: Find the total number of unique categories.

unique_categories = df['Category'].nunique()
print(unique_categories)

3

In [15]:
#Question 7: Find the total number of unique sub-categories

unique_sub_categories = df['Sub-Category'].nunique()
print(unique_sub_categories)

17

In [17]:
#Question 8: Count number of orders in each region.

region_wise_orders = df['Region'].value_counts()
print(region_wise_orders)

Region
West       3203
East       2848
Central    2323
South      1620
Name: count, dtype: int64

In [18]:
#Question 9: Count number of orders by state.

orders_by_states = df['State'].value_counts()
print(orders_by_states)

State
California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Arizona                  224
Virginia                 224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Utah                      53
Mississippi               53
South Carolina            42
Louisiana                 42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: count, dtype: int64

In [19]:
#Question 10: Count number of orders by city.

orders_by_city = df['City'].value_counts()
print(orders_by_city)

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Abilene            1
Montebello         1
Kissimmee          1
Danbury            1
Springdale         1
Name: count, Length: 531, dtype: int64

In [22]:
#Question 11: Find the most common ship mode.

most_common_ship_mode = df['Ship Mode'].value_counts().idxmax()
print(most_common_ship_mode)

Standard Class

In [23]:
#Question 12: Find the least common ship mode.

least_common_ship_mode = df['Ship Mode'].value_counts().idxmin()
print(least_common_ship_mode)

Same Day

In [26]:
#Question 13: Count number of orders shipped with "Same Day" mode.

orders_shipped_with_sameday = df[df['Ship Mode']== 'Same Day'].value_counts().sum()
print(orders_shipped_with_sameday)

543

In [27]:
#Question 14: Count number of orders shipped with "First Class".

orders_shipped_with_firstclass = df[df['Ship Mode']== 'First Class'].value_counts().sum()
print(orders_shipped_with_firstclass)

1538

In [28]:
#Question 15: Count number of orders shipped with "Second Class".

orders_shipped_with_secondclass = df[df['Ship Mode']== 'Second Class'].value_counts().sum()
print(orders_shipped_with_secondclass)

1945

In [29]:
#Question 16: Count number of orders shipped with "Standard Class".

orders_shipped_with_standardclass = df[df['Ship Mode']== 'Standard Class'].value_counts().sum()
print(orders_shipped_with_standardclass)

5968

In [35]:
#Question 17: Find number of orders in each year.
print(df['Order Date'].dt.year.value_counts())

Order Date
2017    3312
2016    2587
2015    2102
2014    1993
Name: count, dtype: int64

In [36]:
#Question 18: Find number of orders in each quarter.

print(df['Order Date'].dt.quarter.value_counts())

Order Date
4    3698
3    2799
2    2120
1    1377
Name: count, dtype: int64

In [38]:
#Question 19: Find number of orders in each month.

print(df['Order Date'].dt.month.value_counts().sort_index())

Order Date
1      381
2      300
3      696
4      668
5      735
6      717
7      710
8      706
9     1383
10     819
11    1471
12    1408
Name: count, dtype: int64

In [39]:
#Question 20: Find number of orders in each weekday.

print(df['Order Date'].dt.weekday.value_counts().sort_index())

Order Date
0    1871
1    1106
2     371
3    1463
4    1818
5    1655
6    1710
Name: count, dtype: int64

In [40]:
#Question 21: Count orders with discount applied.

orders_with_discount = df[df['Discount']>0].shape[0]
print(orders_with_discount)

5196

In [41]:
#Question 22: Count orders without discount.

orders_without_discount = df[df['Discount']==0].shape[0]
print(orders_without_discount)

4798

In [42]:
#Question 23: Count orders where discount = 0.

orders_where_discount_zero = df[df['Discount']==0].shape[0]
print(orders_where_discount_zero)

4798

In [43]:
#Question 24: Count orders where discount > 0.2.


orders_where_discount_grt_20_prcnt = df[df['Discount']>0.2].shape[0]
print(orders_where_discount_grt_20_prcnt)

1393

In [44]:
#Question 25: Count orders where discount = 0.5.

orders_where_discount_50prcnt = df[df['Discount']==0.5].shape[0]
print(orders_where_discount_50prcnt)

66

In [45]:
#Question 26: Find maximum discount given.

maximum_discount = df['Discount'].max()
print(maximum_discount)

0.8

In [46]:
#Question 27: Find minimum discount given.

minimum_discount = df['Discount'].min()
print(minimum_discount)

0.0

In [47]:
#Question 28: Count orders where profit < 0.

orders_where_profit_less_0_prcnt = df[df['Profit']<0].shape[0]
print(orders_where_profit_less_0_prcnt)

1871

In [48]:
#Question 29: Count orders where profit = 0.

orders_where_profit_zero = df[df['Profit']==0].shape[0]
print(orders_where_profit_zero)

65

In [49]:
#Question 30: Count orders where profit > 100.

orders_where_profit_grt_100_prcnt = df[df['Profit']>100].shape[0]
print(orders_where_profit_grt_100_prcnt)

890

In [50]:
#Question 31: Count orders where sales > 1000.

orders_where_sales_grt_1000 = df[df['Sales']>1000].shape[0]
print(orders_where_sales_grt_1000)

468

In [51]:
#Question 32: Find total quantity sold.

total_quantity = df['Quantity'].sum()
print(total_quantity)

37873

In [52]:
#Question 33: Find average quantity per order.

avg_quantity_per_order = df.groupby('Order ID')['Quantity'].sum().mean()
print(avg_quantity_per_order)

7.560990217608305

In [53]:
#Question 34: Find average sales per order.

avg_sales_per_order = df.groupby('Order ID')['Sales'].sum().mean()
print(avg_sales_per_order)

458.61466566180883

In [54]:
#Question 35: Find average profit per order.

avg_profit_per_order = df.groupby('Order ID')['Profit'].sum().mean()
print(avg_profit_per_order)

57.17648666400478

In [55]:
#Question 36: Find maximum sales in a single order.

max_sales_in_order = df.groupby('Order ID')['Sales'].sum().max()
print( max_sales_in_order)

23661.228

In [56]:
#Question 37: Find minimum sales in a single order.


min_sales_in_order = df.groupby('Order ID')['Sales'].sum().min()
print(min_sales_in_order)

0.5559999999999998

In [58]:
#Question 38: Find maximum profit in a single order.

max_profit_in_order = df.groupby('Order ID')['Profit'].sum().max()
print(max_profit_in_order)

8762.389099999999

In [59]:
#Question 39: Find minimum profit in a single order.


min_profit_in_order = df.groupby('Order ID')['Profit'].sum().min()
print(min_profit_in_order)

-6892.3748000000005

In [6]:
#Question 40: Find number of orders per customer.

orders_per_customer = df.groupby('Customer ID')['Order ID'].nunique()
print(orders_per_customer)

Customer ID
AA-10315     5
AA-10375     9
AA-10480     4
AA-10645     6
AB-10015     3
            ..
XP-21865    11
YC-21895     5
YS-21880     8
ZC-21910    13
ZD-21925     5
Name: Order ID, Length: 793, dtype: int64

In [61]:
#Question 41: Find customers who placed only 1 order.

customers_with_one_order = orders_per_customer[orders_per_customer == 1]
print(customers_with_one_order)

Customer ID
AO-10810    1
AR-10570    1
CJ-11875    1
JC-15385    1
JR-15700    1
LD-16855    1
MG-18205    1
PH-18790    1
RE-19405    1
RM-19750    1
SM-20905    1
TC-21145    1
Name: Order ID, dtype: int64

In [64]:
#Question 42: Find customers who placed more than 10 orders.

customers_with_grt_10_order = orders_per_customer[orders_per_customer >10]
print(customers_with_grt_10_order)

Customer ID
AH-10690    12
BD-11320    12
BF-11170    11
BM-11650    11
BP-11095    12
CC-12220    12
CK-12205    13
CK-12595    11
CL-12565    12
CS-11950    11
CS-12250    12
CS-12355    11
DK-12835    12
Dp-13240    11
EA-14035    13
EH-13765    12
EP-13915    17
GA-14725    11
GB-14530    11
GT-14710    11
HG-14965    12
JD-15895    11
JE-15745    13
JF-15490    11
JG-15160    11
JL-15835    11
KB-16585    12
KD-16495    12
KL-16645    12
LA-16780    11
LC-16885    12
MA-17560    11
MM-17920    11
MY-18295    11
NS-18640    13
PG-18820    13
PK-19075    12
PO-18850    11
RB-19465    12
RP-19390    12
SC-20725    11
SE-20110    11
SH-19975    13
SJ-20125    12
SM-20950    12
SZ-20035    11
WB-21850    11
XP-21865    11
ZC-21910    13
Name: Order ID, dtype: int64

In [65]:
#Question 43: Find total number of states represented.

total_states = df['State'].nunique()
print(total_states)

49

In [ ]:
#Question 44: Find total number of cities represented.


total_cities = df['City'].nunique() 
print(total_cities)

531

In [67]:
#Question 45: Find number of orders placed from California.

orders_from_california = df[df['State'] == 'California'].shape[0]
print(orders_from_california)

2001

In [68]:
#Question 46: Find number of orders placed from New York.

orders_from_newyork = df[df['State'] == 'New York'].shape[0]
print(orders_from_newyork)

1128

In [69]:
#Question 47: Find number of orders placed from Texas.

orders_from_texas = df[df['State'] == 'Texas'].shape[0]
print(orders_from_texas)

985

In [70]:
#Question 48: Find number of orders placed from Florida.

orders_from_florida = df[df['State'] == 'Florida'].shape[0]
print(orders_from_florida)

383

In [ ]:
#Question 49: Find number of orders shipped after 5 days of order.

# Ensure datetime columns
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Calculate shipping duration
df['Shipping_Days'] = (df['Ship Date'] - df['Order Date']).dt.days

# Count orders shipped after 5 days
orders_after_5_days = df[df['Shipping_Days'] > 5]['Order ID'].nunique()  #each order is counted only once.
print(orders_after_5_days)

904

In [74]:
#Question 50: Find average shipping time in days.

# Ensure datetime columns
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Calculate shipping duration
df['Shipping_Days'] = (df['Ship Date'] - df['Order Date']).dt.days

avg_shipping_time_in_days = df['Shipping_Days'].mean()
print(avg_shipping_time_in_days)

3.958174904942966

#Sales & Profit Analysis (Questions 51-100)

In [75]:
#Question 51: Find total sales.

total_sales = df['Sales'].sum()
print(total_sales)

2297200.8603

In [76]:
#Question 52: Find total profit.

total_profit = df['Profit'].sum()
print(total_profit)

286397.0216999999

In [77]:
#Question 53: Find average sales per order.

avg_sales_per_order = df.groupby('Order ID')['Sales'].sum().mean()
print(avg_sales_per_order)

458.61466566180883

In [78]:
#Question 54: Find average profit per order.

avg_profit_per_order = df.groupby('Order ID')['Profit'].sum().mean()
print(avg_profit_per_order)

57.17648666400478

In [79]:
#Question 55: Find sales by category.

sales_by_category = df.groupby('Category')['Sales'].sum()
print(sales_by_category)

Category
Furniture          741999.7953
Office Supplies    719047.0320
Technology         836154.0330
Name: Sales, dtype: float64

In [80]:
#Question 56: Find profit by category.

profit_by_category = df.groupby('Category')['Profit'].sum()
print(profit_by_category)

Category
Furniture           18451.2728
Office Supplies    122490.8008
Technology         145454.9481
Name: Profit, dtype: float64

In [81]:
#Question 57: Find sales by sub-category.

sales_by_sub_category = df.groupby('Sub-Category')['Sales'].sum()
print(sales_by_sub_category)

Sub-Category
Accessories    167380.3180
Appliances     107532.1610
Art             27118.7920
Binders        203412.7330
Bookcases      114879.9963
Chairs         328449.1030
Copiers        149528.0300
Envelopes       16476.4020
Fasteners        3024.2800
Furnishings     91705.1640
Labels          12486.3120
Machines       189238.6310
Paper           78479.2060
Phones         330007.0540
Storage        223843.6080
Supplies        46673.5380
Tables         206965.5320
Name: Sales, dtype: float64

In [83]:
#Question 58: Find profit by sub-category.

profit_by_sub_category = df.groupby('Sub-Category')['Profit'].sum()
print(profit_by_sub_category)

Sub-Category
Accessories    41936.6357
Appliances     18138.0054
Art             6527.7870
Binders        30221.7633
Bookcases      -3472.5560
Chairs         26590.1663
Copiers        55617.8249
Envelopes       6964.1767
Fasteners        949.5182
Furnishings    13059.1436
Labels          5546.2540
Machines        3384.7569
Paper          34053.5693
Phones         44515.7306
Storage        21278.8264
Supplies       -1189.0995
Tables        -17725.4811
Name: Profit, dtype: float64

In [86]:
#Question 59: Find highest sales category.

highest_sales_category = df.groupby('Category')['Sales'].sum().idxmax()
print(highest_sales_category)

Technology

In [87]:
#Question 60: Find highest profit category.

highest_profit_category = df.groupby('Category')['Profit'].sum().idxmax()
print(highest_profit_category)

Technology

In [ ]:
#Question 61: Find lowest profit category.

lowest_profit_category = df.groupby('Category')['Profit'].sum().idxmin()
print(lowest_profit_category)

Furniture

In [89]:
#Question 62: Find lowest sales sub-category.

lowest_sales_sub_category = df.groupby('Sub-Category')['Sales'].sum().idxmin()
print(lowest_sales_sub_category)

Fasteners

In [90]:
#Question 63: Find highest profit sub-category.

highest_profit_sub_category = df.groupby('Sub-Category')['Profit'].sum().idxmax()
print(highest_profit_sub_category)

Copiers

In [ ]:
#Question 64: Find lowest profit sub-category.

lowest_profit_sub_category = df.groupby('Sub-Category')['Profit'].sum().idxmin()
print(lowest_profit_sub_category)

Tables

In [92]:
#Question 65: Find top 10 profitable products.
top_10_profitable_products = df.groupby('Product Name')['Profit'].sum().nlargest(10)
print(top_10_profitable_products)

Product Name
Canon imageCLASS 2200 Advanced Copier                                          25199.9280
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind     7753.0390
Hewlett Packard LaserJet 3310 Copier                                            6983.8836
Canon PC1060 Personal Laser Copier                                              4570.9347
HP Designjet T520 Inkjet Large Format Printer - 24" Color                       4094.9766
Ativa V4110MDD Micro-Cut Shredder                                               3772.9461
3D Systems Cube Printer, 2nd Generation, Magenta                                3717.9714
Plantronics Savi W720 Multi-Device Wireless Headset System                      3696.2820
Ibico EPK-21 Electric Binding System                                            3345.2823
Zebra ZM400 Thermal Label Printer                                               3343.5360
Name: Profit, dtype: float64

In [93]:
#Question 66: Find top 10 least profitable products.

top_10_least_profitable_products = df.groupby('Product Name')['Profit'].sum().nsmallest(10)
print(top_10_least_profitable_products)

Product Name
Cubify CubeX 3D Printer Double Head Print                           -8879.9704
Lexmark MX611dhe Monochrome Laser Printer                           -4589.9730
Cubify CubeX 3D Printer Triple Head Print                           -3839.9904
Chromcraft Bull-Nose Wood Oval Conference Tables & Bases            -2876.1156
Bush Advantage Collection Racetrack Conference Table                -1934.3976
GBC DocuBind P400 Electric Binding System                           -1878.1662
Cisco TelePresence System EX90 Videoconferencing Unit               -1811.0784
Martin Yale Chadless Opener Electric Letter Opener                  -1299.1836
Balt Solid Wood Round Tables                                        -1201.0581
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables   -1148.4375
Name: Profit, dtype: float64

In [94]:
#Question 67: Find top 10 best-selling products by sales.

top_10_selling_products_by_sales = df.groupby('Product Name')['Sales'].sum().nlargest(10)
print(top_10_selling_products_by_sales)

Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

In [95]:
#Question 68: Find top 10 best-selling products by quantity.

top_10_selling_products_by_quantity = df.groupby('Product Name')['Quantity'].sum().nlargest(10)
print(top_10_selling_products_by_quantity)

Product Name
Staples                                                       215
Staple envelope                                               170
Easy-staple paper                                             150
Staples in misc. colors                                        86
KI Adjustable-Height Table                                     74
Avery Non-Stick Binders                                        71
Storex Dura Pro Binders                                        71
GBC Premium Transparent Covers with Diagonal Lined Pattern     67
Situations Contoured Folding Chairs, 4/Set                     64
Staple-based wall hangings                                     62
Name: Quantity, dtype: int64

In [96]:
#Question 69: Find bottom 10 products by sales.

bottom_10_selling_products_by_sales = df.groupby('Product Name')['Sales'].sum().nsmallest(10)
print(bottom_10_selling_products_by_sales)

Product Name
Eureka Disposable Bags for Sanitaire Vibra Groomer I Upright Vac    1.624
Avery 5                                                             5.760
Xerox 20                                                            6.480
Grip Seal Envelopes                                                 7.072
Avery Hi-Liter Pen Style Six-Color Fluorescent Set                  7.700
Avery Hi-Liter Comfort Grip Fluorescent Highlighter, Yellow Ink     7.800
Xerox 1989                                                          7.968
4009 Highlighters                                                   8.040
Stockwell Gold Paper Clips                                          8.096
Newell 308                                                          8.400
Name: Sales, dtype: float64

In [97]:
#Question 70: Find bottom 10 products by profit.

bottom_10_selling_products_by_profit = df.groupby('Product Name')['Profit'].sum().nsmallest(10)
print(bottom_10_selling_products_by_profit)

Product Name
Cubify CubeX 3D Printer Double Head Print                           -8879.9704
Lexmark MX611dhe Monochrome Laser Printer                           -4589.9730
Cubify CubeX 3D Printer Triple Head Print                           -3839.9904
Chromcraft Bull-Nose Wood Oval Conference Tables & Bases            -2876.1156
Bush Advantage Collection Racetrack Conference Table                -1934.3976
GBC DocuBind P400 Electric Binding System                           -1878.1662
Cisco TelePresence System EX90 Videoconferencing Unit               -1811.0784
Martin Yale Chadless Opener Electric Letter Opener                  -1299.1836
Balt Solid Wood Round Tables                                        -1201.0581
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables   -1148.4375
Name: Profit, dtype: float64

In [ ]:
#Question 71: Find total sales by year.

df['Order Date'] = pd.to_datetime(df['Order Date'])
sales_by_year = df.groupby(df['Order Date'].dt.year)['Sales'].sum()
print(sales_by_year)

Order Date
2014    484247.4981
2015    470532.5090
2016    609205.5980
2017    733215.2552
Name: Sales, dtype: float64

In [ ]:
#Question 72: Find total profit by year.

df['Order Date'] = pd.to_datetime(df['Order Date'])
profit_by_year = df.groupby(df['Order Date'].dt.year)['Profit'].sum()
print(profit_by_year)

Order Date
2014    49543.9741
2015    61618.6037
2016    81795.1743
2017    93439.2696
Name: Profit, dtype: float64

In [101]:
#Question 73: Find sales growth year by year.

df['Order Date'] = pd.to_datetime(df['Order Date'])
sales_by_year = df.groupby(df['Order Date'].dt.year)['Sales'].sum().sort_index()
sales_growth = sales_by_year.pct_change() * 100
print("Sales By Year:",sales_by_year)
print("\nSales Growth:",sales_growth)

Sales By Year: Order Date
2014    484247.4981
2015    470532.5090
2016    609205.5980
2017    733215.2552
Name: Sales, dtype: float64

Sales Growth: Order Date
2014          NaN
2015    -2.832227
2016    29.471521
2017    20.355962
Name: Sales, dtype: float64

In [102]:
#Question 74: Find profit growth year by year.

df['Order Date'] = pd.to_datetime(df['Order Date'])
profit_by_year = df.groupby(df['Order Date'].dt.year)['Profit'].sum()
profit_growth = profit_by_year.pct_change()*100
print("Profit By Year:",profit_by_year)
print("\nProfit Growth:",profit_growth)

Profit By Year: Order Date
2014    49543.9741
2015    61618.6037
2016    81795.1743
2017    93439.2696
Name: Profit, dtype: float64

Profit Growth: Order Date
2014          NaN
2015    24.371540
2016    32.744284
2017    14.235675
Name: Profit, dtype: float64

In [103]:
#Question 75: Find sales by quarter.

df['Order Date'] = pd.to_datetime(df['Order Date'])
sales_by_quarter = df.groupby(df['Order Date'].dt.quarter)['Sales'].sum()
print(sales_by_quarter)

Order Date
1    359681.5758
2    445509.6196
3    613932.1057
4    878077.5592
Name: Sales, dtype: float64

In [104]:
#Question 76: Find profit by quarter.

df['Order Date'] = pd.to_datetime(df['Order Date'])
profit_by_quarter = df.groupby(df['Order Date'].dt.quarter)['Profit'].sum()
print(profit_by_quarter)

Order Date
1     48023.7440
2     55284.5395
3     72467.0785
4    110621.6597
Name: Profit, dtype: float64

In [105]:
#Question 77: Find sales by month.

df['Order Date'] = pd.to_datetime(df['Order Date'])
sales_by_month = df.groupby(df['Order Date'].dt.month)['Sales'].sum()
print(sales_by_month)

Order Date
1      94924.8356
2      59751.2514
3     205005.4888
4     137762.1286
5     155028.8117
6     152718.6793
7     147238.0970
8     159044.0630
9     307649.9457
10    200322.9847
11    352461.0710
12    325293.5035
Name: Sales, dtype: float64

In [106]:
#Question 78: Find profit by month.

df['Order Date'] = pd.to_datetime(df['Order Date'])
profit_by_month = df.groupby(df['Order Date'].dt.month)['Profit'].sum()
print(profit_by_month)

Order Date
1      9134.4461
2     10294.6107
3     28594.6872
4     11587.4363
5     22411.3078
6     21285.7954
7     13832.6648
8     21776.9384
9     36857.4753
10    31784.0413
11    35468.4265
12    43369.1919
Name: Profit, dtype: float64

In [112]:
#Question 79: Find month with highest sales.

df['Order Date'] = pd.to_datetime(df['Order Date'])
month_with_highest_sales = df.groupby(df['Order Date'].dt.month)['Sales'].sum().idxmax()
print(month_with_highest_sales)

11

In [113]:
#Question 80: Find month with highest profit.

df['Order Date'] = pd.to_datetime(df['Order Date'])
month_with_highest_profit = df.groupby(df['Order Date'].dt.month)['Profit'].sum().idxmax()
print(month_with_highest_profit)

12

In [114]:
#Question 81: Find month with lowest sales.

df['Order Date'] = pd.to_datetime(df['Order Date'])
month_with_lowest_sales = df.groupby(df['Order Date'].dt.month)['Sales'].sum().idxmin()
print(month_with_lowest_sales)

2

In [115]:
#Question 82: Find month with lowest profit.

df['Order Date'] = pd.to_datetime(df['Order Date'])
month_with_lowest_profit = df.groupby(df['Order Date'].dt.month)['Profit'].sum().idxmin()
print(month_with_lowest_profit)

1

In [116]:
#Question 83: Find total sales by weekday.

df['Order Date'] = pd.to_datetime(df['Order Date'])
total_sales_by_weekday = df.groupby(df['Order Date'].dt.weekday)['Sales'].sum()
print(total_sales_by_weekday)

Order Date
0    428937.8157
1    287209.5022
2     88056.9752
3    321965.7785
4    427692.2593
5    357984.6830
6    385353.8464
Name: Sales, dtype: float64

In [117]:
#Question 84: Find total profit by weekday.

df['Order Date'] = pd.to_datetime(df['Order Date'])
total_profit_by_weekday = df.groupby(df['Order Date'].dt.weekday)['Profit'].sum()
print(total_profit_by_weekday)

Order Date
0    51511.1146
1    35570.3288
2    14703.8707
3    39683.7512
4    46520.8242
5    41277.6202
6    57129.5120
Name: Profit, dtype: float64

In [5]:
#Question 85: Find weekday with highest sales.

df['Order Date'] = pd.to_datetime(df['Order Date'])
weekday_with_highest_sales = df.groupby(df['Order Date'].dt.weekday)['Sales'].sum().idxmax()
print(weekday_with_highest_sales)

0

In [6]:
#Question 86: Find weekday with lowest sales

df['Order Date'] = pd.to_datetime(df['Order Date'])
weekday_with_lowest_sales = df.groupby(df['Order Date'].dt.weekday)['Sales'].sum().idxmin()
print(weekday_with_lowest_sales)

2

In [7]:
#Question 87: Find weekday with highest profit.

df['Order Date'] = pd.to_datetime(df['Order Date'])
weekday_with_highest_profit = df.groupby(df['Order Date'].dt.weekday)['Profit'].sum().idxmax()
print(weekday_with_highest_profit)

6

In [8]:
#Question 88: Find weekday with lowest profit.

df['Order Date'] = pd.to_datetime(df['Order Date'])
weekday_with_lowest_profit = df.groupby(df['Order Date'].dt.weekday)['Profit'].sum().idxmin()
print(weekday_with_lowest_profit)

2

In [13]:
#Question 89: Find state with highest sales.

state_with_highest_sales = df.groupby('State')['Sales'].sum().idxmax()
print(state_with_highest_sales)

California

In [14]:
#Question 90: Find state with highest profit.

state_with_highest_profit = df.groupby('State')['Profit'].sum().idxmax()
print(state_with_highest_profit)

California

In [15]:
#Question 91: Find state with lowest sales.

state_with_lowest_sales = df.groupby('State')['Sales'].sum().idxmin()
print(state_with_lowest_sales)

North Dakota

In [16]:
#Question 92: Find state with lowest profit.

state_with_lowest_profit = df.groupby('State')['Profit'].sum().idxmin()
print(state_with_lowest_profit)

Texas

In [17]:
#Question 93: Find region with highest sales.

region_with_highest_sales = df.groupby('Region')['Sales'].sum().idxmax()
print(region_with_highest_sales)

West

In [18]:
#Question 94: Find region with highest profit.

region_with_highest_profit = df.groupby('Region')['Profit'].sum().idxmax()
print(region_with_highest_profit)

West

In [19]:
#Question 95: Find region with lowest sales.

region_with_lowest_sales = df.groupby('Region')['Sales'].sum().idxmin()
print(region_with_lowest_sales)

South

In [20]:
#Question 96: Find region with lowest profit.

region_with_lowest_profit = df.groupby('Region')['Profit'].sum().idxmin()
print(region_with_lowest_profit)

Central

In [21]:
#Question 97: Find average discount overall.

avg_discount = df['Discount'].mean()
print(avg_discount)

0.1562027216329798

In [22]:
#Question 98: Find average discount in each category.

avg_discount_each_category = df.groupby('Category')['Discount'].mean().sort_index()
print(avg_discount_each_category)

Category
Furniture          0.173923
Office Supplies    0.157285
Technology         0.132323
Name: Discount, dtype: float64

In [23]:
#Question 99: Find average discount in each sub-category.

avg_discount_each_sub_category = df.groupby('Sub-Category')['Discount'].mean().sort_index()
print(avg_discount_each_sub_category)

Sub-Category
Accessories    0.078452
Appliances     0.166524
Art            0.074874
Binders        0.372292
Bookcases      0.211140
Chairs         0.170178
Copiers        0.161765
Envelopes      0.080315
Fasteners      0.082028
Furnishings    0.138349
Labels         0.068681
Machines       0.306087
Paper          0.074891
Phones         0.154556
Storage        0.074704
Supplies       0.076842
Tables         0.261285
Name: Discount, dtype: float64

In [26]:
#Question 100: Compare total sales vs profit across regions.

total_sales_vs_profit_regions = df.groupby('Region')[['Sales','Profit']].sum()
print(total_sales_vs_profit_regions)

               Sales       Profit
Region
Central  501239.8908   39706.3625
East     678781.2400   91522.7800
South    391721.9050   46749.4303
West     725457.8245  108418.4489

#Customer & Segment Analysis (Questions 101-150)

In [29]:
#Question 101: Count customers in each region.

customers_each_region = df.groupby('Region')['Customer ID'].nunique()
print(customers_each_region)

Region
Central    629
East       674
South      512
West       686
Name: Customer ID, dtype: int64

In [30]:
#Question 102: Count customers in each state.

customers_each_state = df.groupby('State')['Customer ID'].nunique()
print(customers_each_state)

State
Alabama                  34
Arizona                 100
Arkansas                 27
California              577
Colorado                 75
Connecticut              43
Delaware                 43
District of Columbia      4
Florida                 181
Georgia                  83
Idaho                    11
Illinois                237
Indiana                  70
Iowa                     17
Kansas                   14
Kentucky                 58
Louisiana                21
Maine                     3
Maryland                 45
Massachusetts            62
Michigan                106
Minnesota                42
Mississippi              25
Missouri                 28
Montana                   8
Nebraska                 23
Nevada                   23
New Hampshire            17
New Jersey               61
New Mexico               22
New York                415
North Carolina          122
North Dakota              2
Ohio                    202
Oklahoma                 34
Oregon                   51
Pennsylvania            257
Rhode Island             25
South Carolina           19
South Dakota              5
Tennessee                84
Texas                   370
Utah                     26
Vermont                   5
Virginia                107
Washington              224
West Virginia             2
Wisconsin                52
Wyoming                   1
Name: Customer ID, dtype: int64

In [34]:
#Question 103: Count customers in each city.

customers_each_city = df.groupby('City')['Customer ID'].nunique()
print(customers_each_city)

City
Aberdeen        1
Abilene         1
Akron          10
Albuquerque     7
Alexandria      6
               ..
Woonsocket      3
Yonkers         6
York            2
Yucaipa         1
Yuma            4
Name: Customer ID, Length: 531, dtype: int64

In [37]:
#Question 104: Find total sales by customer.

total_sales_by_customer = df.groupby('Customer ID')['Sales'].sum()
print(total_sales_by_customer)

Customer ID
AA-10315    5563.560
AA-10375    1056.390
AA-10480    1790.512
AA-10645    5086.935
AB-10015     886.156
              ...
XP-21865    2374.658
YC-21895    5454.350
YS-21880    6720.444
ZC-21910    8025.707
ZD-21925    1493.944
Name: Sales, Length: 793, dtype: float64

In [38]:
#Question 105: Find total profit by customer.

total_profit_by_customer = df.groupby('Customer ID')['Profit'].sum()
print(total_profit_by_customer)

Customer ID
AA-10315    -362.8825
AA-10375     277.3824
AA-10480     435.8274
AA-10645     857.8033
AB-10015     129.3465
              ...
XP-21865     621.2300
YC-21895    1305.6290
YS-21880    1778.2923
ZC-21910   -1032.1490
ZD-21925     249.1307
Name: Profit, Length: 793, dtype: float64

In [40]:
#Question 106: Find average sales per customer.

avg_sales_per_customer = df.groupby('Customer ID')['Sales'].mean()
print(avg_sales_per_customer)

Customer ID
AA-10315    505.778182
AA-10375     70.426000
AA-10480    149.209333
AA-10645    282.607500
AB-10015    147.692667
               ...
XP-21865     84.809214
YC-21895    681.793750
YS-21880    560.037000
ZC-21910    258.893774
ZD-21925    165.993778
Name: Sales, Length: 793, dtype: float64

In [42]:
#Question 107: Find average profit per customer.

avg_profit_per_customer = df.groupby('Customer ID')['Profit'].mean()
print(avg_profit_per_customer)

Customer ID
AA-10315    -32.989318
AA-10375     18.492160
AA-10480     36.318950
AA-10645     47.655739
AB-10015     21.557750
               ...
XP-21865     22.186786
YC-21895    163.203625
YS-21880    148.191025
ZC-21910    -33.295129
ZD-21925     27.681189
Name: Profit, Length: 793, dtype: float64

In [43]:
#Question 108: Find customer with highest sales.

customer_with_highest_sales = df.groupby('Customer ID')['Sales'].sum().idxmax()
print(customer_with_highest_sales)

SM-20320

In [44]:
#Question 109: Find customer with highest profit.

customer_with_highest_profit = df.groupby('Customer ID')['Profit'].sum().idxmax()
print(customer_with_highest_profit)

TC-20980

In [45]:
#Question 110: Find customer with lowest sales.

customer_with_lowest_sales = df.groupby('Customer ID')['Sales'].sum().idxmin()
print(customer_with_lowest_sales)

TS-21085

In [46]:
#Question 111: Find customer with lowest profit.

customer_with_lowest_profit = df.groupby('Customer ID')['Profit'].sum().idxmin()
print(customer_with_lowest_profit)

CS-12505

In [4]:
#Question 112: Find customers with negative profit.

customer_profit = df.groupby('Customer ID')['Profit'].sum()
negative_profit_customers = customer_profit[customer_profit < 0]
print(negative_profit_customers)

Customer ID
AA-10315    -362.8825
AB-10600    -274.9604
AC-10420     -62.1342
AC-10660     -28.7004
AF-10885    -163.1175
              ...
VP-21760   -1018.7768
VS-21820    -262.8093
VT-21700    -224.0889
VW-21775    -874.6645
ZC-21910   -1032.1490
Name: Profit, Length: 155, dtype: float64

In [7]:
#Question 113: Find customers with > 10 orders.

customers_wuith_more_than_10_orders = orders_per_customer[orders_per_customer > 10]
print(customers_wuith_more_than_10_orders)

Customer ID
AH-10690    12
BD-11320    12
BF-11170    11
BM-11650    11
BP-11095    12
CC-12220    12
CK-12205    13
CK-12595    11
CL-12565    12
CS-11950    11
CS-12250    12
CS-12355    11
DK-12835    12
Dp-13240    11
EA-14035    13
EH-13765    12
EP-13915    17
GA-14725    11
GB-14530    11
GT-14710    11
HG-14965    12
JD-15895    11
JE-15745    13
JF-15490    11
JG-15160    11
JL-15835    11
KB-16585    12
KD-16495    12
KL-16645    12
LA-16780    11
LC-16885    12
MA-17560    11
MM-17920    11
MY-18295    11
NS-18640    13
PG-18820    13
PK-19075    12
PO-18850    11
RB-19465    12
RP-19390    12
SC-20725    11
SE-20110    11
SH-19975    13
SJ-20125    12
SM-20950    12
SZ-20035    11
WB-21850    11
XP-21865    11
ZC-21910    13
Name: Order ID, dtype: int64

In [8]:
#Question 114: Find customers with < 2 orders.
customers_with_less_than_2_orders = orders_per_customer[orders_per_customer < 2]
print(customers_with_less_than_2_orders)

Customer ID
AO-10810    1
AR-10570    1
CJ-11875    1
JC-15385    1
JR-15700    1
LD-16855    1
MG-18205    1
PH-18790    1
RE-19405    1
RM-19750    1
SM-20905    1
TC-21145    1
Name: Order ID, dtype: int64

In [9]:
#Question 115: Find repeat customers across multiple years.

df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Year'] = df['Order Date'].dt.year

customer_years = df.groupby('Customer ID')['Year'].nunique()
repeat_customers = customer_years[customer_years > 1]

print(repeat_customers)

Customer ID
AA-10315    4
AA-10375    4
AA-10480    3
AA-10645    4
AB-10015    2
           ..
XP-21865    4
YC-21895    4
YS-21880    2
ZC-21910    4
ZD-21925    3
Name: Year, Length: 772, dtype: int64

In [10]:
#Question 116: Find customers who ordered only once.

single_order_customer = orders_per_customer[orders_per_customer == 1]
print(single_order_customer)

Customer ID
AO-10810    1
AR-10570    1
CJ-11875    1
JC-15385    1
JR-15700    1
LD-16855    1
MG-18205    1
PH-18790    1
RE-19405    1
RM-19750    1
SM-20905    1
TC-21145    1
Name: Order ID, dtype: int64

In [11]:
#Question 117: Count customers by segment.

customer_by_segment = df.groupby('Segment')['Customer ID'].nunique()
print(customer_by_segment)

Segment
Consumer       409
Corporate      236
Home Office    148
Name: Customer ID, dtype: int64

In [16]:
#Question 118: Find sales by segment.

sales_by_segment = df.groupby('Segment')['Sales'].sum()
print(sales_by_segment.apply(lambda x: f"{x:,.2f}"))

Segment
Consumer       1,161,401.34
Corporate        706,146.37
Home Office      429,653.15
Name: Sales, dtype: object

In [15]:
#Question 119: Find profit by segment.

profit_by_segment = df.groupby('Segment')['Profit'].sum()
print(profit_by_segment)

Segment
Consumer       134119.2092
Corporate       91979.1340
Home Office     60298.6785
Name: Profit, dtype: float64

In [17]:
#Question 120: Find most profitable segment.

most_profitable_segment = df.groupby('Segment')['Profit'].sum().idxmax()
print(most_profitable_segment)

Consumer

In [18]:
#Question 121: Find least profitable segment.

least_profitable_segment = df.groupby('Segment')['Profit'].sum().idxmin()
print(least_profitable_segment)

Home Office

In [19]:
#Question 122: Find most sales-generating segment.

most_sales_generating_segment = df.groupby('Segment')['Sales'].sum().idxmax()
print(most_sales_generating_segment)

Consumer

In [ ]:
#Question 123: Find least sales-generating segment.

least_sales_generating_segment = df.groupby('Segment')['Sales'].sum().idxmin()
print(least_sales_generating_segment)

Home Office

In [21]:
#Question 124: Find segment with highest average discount.

segment_with_highest_avg_discount = df.groupby('Segment')['Discount'].mean().idxmax()
print(segment_with_highest_avg_discount)

Corporate

In [22]:
#Question 125: Find segment with lowest average discount.

segment_with_lowest_avg_discount = df.groupby('Segment')['Discount'].mean().idxmin()
print(segment_with_lowest_avg_discount)

Home Office

In [23]:
#Question 126: Find top 5 customers by sales in each segment.

customer_sales = df.groupby(['Segment', 'Customer ID'])['Sales'].sum().reset_index()

# Sort within each segment by sales descending
top_customers = customer_sales.sort_values(['Segment', 'Sales'], ascending=[True, False])

top_5_customers_per_segment = top_customers.groupby('Segment').head(5)
print(top_5_customers_per_segment)

         Segment Customer ID      Sales
316     Consumer    RB-19360  15117.339
5       Consumer    AB-10105  14473.571
222     Consumer    KL-16645  14175.229
345     Consumer    SC-20095  14142.334
159     Consumer    HL-15040  12873.298
629    Corporate    TC-20980  19052.218
636    Corporate    TS-21370  11891.751
443    Corporate    BS-11365  10501.653
491    Corporate    EH-13765  10310.880
511    Corporate    GT-14635   9351.212
772  Home Office    SM-20320  25043.050
781  Home Office    TA-21385  14595.620
724  Home Office    ME-17320  10663.728
716  Home Office    KF-16285  10604.266
687  Home Office    DR-12940   8350.868

In [24]:
#Question 127: Find top 5 customers by profit in each segment.

customers_profit = df.groupby(['Segment', 'Customer ID'])['Profit'].sum().reset_index()

# Sort within each segment by sales descending
top_customers = customers_profit.sort_values(['Segment', 'Profit'], ascending=[True, False])

top_5_customers_per_segment = top_customers.groupby('Segment').head(5)
print(top_5_customers_per_segment)

         Segment Customer ID     Profit
316     Consumer    RB-19360  6976.0959
345     Consumer    SC-20095  5757.4119
159     Consumer    HL-15040  5622.4292
5       Consumer    AB-10105  5444.8055
84      Consumer    CM-12385  3899.8904
629    Corporate    TC-20980  8981.3239
542    Corporate    KD-16495  3038.6254
443    Corporate    BS-11365  2616.0644
517    Corporate    HM-14860  2437.9836
636    Corporate    TS-21370  2371.7144
781  Home Office    TA-21385  4703.7883
687  Home Office    DR-12940  2869.0760
742  Home Office    NM-18445  2751.6849
645  Home Office    AB-10060  2054.5885
776  Home Office    SR-20740  1990.4244

In [ ]:
#Question 128: Find top 5 loss-making customers.

loss_making_customers = df[df['Profit'] < 0]
top_5_loss_making_customers = loss_making_customers.groupby('Customer ID')['Profit'].sum().nsmallest(5)
print(top_5_loss_making_customers)

Customer ID
CS-12505   -6904.3700
GT-14635   -4187.1078
LF-17185   -3805.5490
SR-20425   -3467.1258
HG-14965   -2998.8345
Name: Profit, dtype: float64

In [27]:
#Question 129: Find customers with largest order value.

largest_order = df.groupby(['Customer ID', 'Order ID'])['Sales'].sum().reset_index()
max_order = largest_order.loc[largest_order['Sales'].idxmax()]

print(max_order)

Customer ID          SM-20320
Order ID       CA-2014-145317
Sales               23661.228
Name: 4428, dtype: object

In [28]:
#Question 130: Find customers with smallest order value.

smallest_order = df.groupby(['Customer ID', 'Order ID'])['Sales'].sum().reset_index()
min_order = smallest_order.loc[smallest_order['Sales'].idxmin()]

print(min_order)

Customer ID          RS-19765
Order ID       CA-2017-124114
Sales                   0.556
Name: 4144, dtype: object

In [29]:
#Question 131: Find number of unique customers each year.

df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Year'] = df['Order Date'].dt.year

unique_customers_per_year = df.groupby('Year')['Customer ID'].nunique()
print(unique_customers_per_year)

Year
2014    595
2015    573
2016    638
2017    693
Name: Customer ID, dtype: int64

In [ ]:
#Question 132: Find retention rate year over year.

In [ ]:
#Question 133: Find churned customers (present last year, not this year).

In [ ]:
#Question 134: Find new customers (present this year, not last year).

In [31]:
#Question 135: Find sales contribution of top 10 customers.

# Total sales per customer
customer_sales = df.groupby('Customer ID')['Sales'].sum()

top_10_sales = customer_sales.sort_values(ascending=False).head(10)

# Contribution %
total_sales = customer_sales.sum()
contribution_pct = top_10_sales.sum() / total_sales * 100

print("Top 10 customers sales contribution: {:.2f}%".format(contribution_pct))
print(top_10_sales)

Top 10 customers sales contribution: 6.70%
Customer ID
SM-20320    25043.050
TC-20980    19052.218
RB-19360    15117.339
TA-21385    14595.620
AB-10105    14473.571
KL-16645    14175.229
SC-20095    14142.334
HL-15040    12873.298
SE-20110    12209.438
CC-12370    12129.072
Name: Sales, dtype: float64

In [32]:
#Question 136: Find profit contribution of top 10 customers.

customer_profit = df.groupby('Customer ID')['Profit'].sum()

top_10_profit = customer_profit.sort_values(ascending=False).head(10)

# Contribution %
total_profit = customer_profit.sum()
contribution_pct = top_10_profit.sum() / total_profit * 100

print("Top 10 customers profit contribution: {:.2f}%".format(contribution_pct))
print(top_10_profit)

Top 10 customers profit contribution: 17.52%
Customer ID
TC-20980    8981.3239
RB-19360    6976.0959
SC-20095    5757.4119
HL-15040    5622.4292
AB-10105    5444.8055
TA-21385    4703.7883
CM-12385    3899.8904
KD-16495    3038.6254
AR-10540    2884.6208
DR-12940    2869.0760
Name: Profit, dtype: float64

In [14]:
#Question 137: Find customers who purchased from all categories.

# All unique categories
all_categories = set(df['Category'].unique())
total_categories = len(all_categories)

# Categories purchased by each customer
customer_categories = df.groupby('Customer ID')['Category'].nunique()

# Filter customers who bought from all categories
customers_all_categories = customer_categories[customer_categories == total_categories]

print(customers_all_categories)

Customer ID
AA-10315    3
AA-10375    3
AA-10480    3
AA-10645    3
AB-10015    3
           ..
XP-21865    3
YC-21895    3
YS-21880    3
ZC-21910    3
ZD-21925    3
Name: Category, Length: 617, dtype: int64

In [16]:
#Question 138: Find customers who purchased only furniture.

# Customers who purchased Furniture at least once
furniture_customers = df[df['Category'] == "Furniture"]['Customer ID'].unique()

print(furniture_customers)

['CG-12520' 'SO-20335' 'BH-11710' 'SF-20065' 'EB-13870' 'TB-21520'
 'GH-14485' 'SN-20710' 'DP-13000' 'TB-21055' 'KM-16720' 'PS-18970'
 'JE-15745' 'KB-16600' 'PO-18865' 'KB-16315' 'PN-18775' 'LC-16870'
 'CV-12805' 'DK-13090' 'SC-20725' 'AD-10180' 'PF-19165' 'LS-16975'
 'LC-16885' 'JD-15895' 'MG-17680' 'JE-16165' 'DB-13060' 'BM-11140'
 'CS-12130' 'MP-17470' 'BS-11755' 'HK-14890' 'VW-21775' 'JB-15925'
 'DS-13180' 'VD-21670' 'CS-12400' 'KL-16645' 'DW-13480' 'LH-17155'
 'DR-12880' 'HA-14920' 'JO-15280' 'NZ-18565' 'KL-16555' 'JH-15910'
 'AS-10225' 'BP-11185' 'TS-21205' 'NM-18445' 'DJ-13510' 'PO-18850'
 'AC-10420' 'JL-15505' 'KW-16435' 'MK-17905' 'AR-10405' 'DO-13435'
 'DK-13225' 'AG-10675' 'KH-16510' 'KC-16675' 'PB-19150' 'MP-17965'
 'NF-18385' 'JM-15265' 'PK-19075' 'TB-21595' 'EB-13705' 'SC-20095'
 'TN-21040' 'JS-15940' 'JP-15520' 'JE-15475' 'MT-18070' 'RO-19780'
 'MY-17380' 'LS-17245' 'MC-17605' 'PH-18790' 'KB-16240' 'JC-15340'
 'DK-12985' 'PG-18895' 'BD-11320' 'RC-19960' 'OT-18730' 'LP-17080'
 'CA-12775' 'EB-13840' 'CS-11950' 'BD-11725' 'LR-16915' 'AS-10240'
 'NG-18355' 'SF-20965' 'MO-17800' 'DJ-13420' 'RB-19465' 'JD-16150'
 'AR-10825' 'EH-14125' 'CB-12025' 'RP-19390' 'CD-11980' 'RA-19285'
 'NP-18325' 'Dl-13600' 'AS-10285' 'JK-15370' 'DP-13165' 'SV-20365'
 'KC-16540' 'CK-12325' 'MR-17545' 'EG-13900' 'DS-13030' 'MH-17785'
 'RF-19735' 'MS-17830' 'NB-18655' 'AJ-10795' 'LE-16810' 'BV-11245'
 'BM-11785' 'LT-17110' 'SA-20830' 'CD-11920' 'HW-14935' 'GM-14440'
 'AA-10375' 'ZC-21910' 'PJ-19015' 'BM-11650' 'AF-10885' 'GA-14725'
 'GT-14710' 'AJ-10780' 'CC-12430' 'HP-14815' 'PM-19135' 'LL-16840'
 'SC-20050' 'RW-19630' 'RB-19795' 'KH-16360' 'GH-14665' 'DL-12925'
 'LW-16990' 'DL-13315' 'TZ-21580' 'JG-15805' 'SL-20155' 'RD-19585'
 'RH-19495' 'VG-21790' 'JS-15880' 'KM-16225' 'LA-16780' 'EL-13735'
 'RD-19660' 'MO-17500' 'DG-13300' 'NF-18595' 'JD-16060' 'BD-11620'
 'BT-11395' 'KD-16270' 'NS-18640' 'PV-18985' 'EH-13945' 'RA-19915'
 'HL-15040' 'BD-11605' 'AP-10915' 'CB-12535' 'PS-19045' 'GB-14530'
 'BT-11530' 'LS-16945' 'SW-20755' 'SP-20620' 'PG-18820' 'GM-14680'
 'NP-18700' 'DJ-13630' 'MH-18115' 'CC-12220' 'JC-16105' 'BG-11695'
 'MS-17710' 'TB-21355' 'LC-17140' 'TC-21535' 'CS-12460' 'RC-19825'
 'HG-14965' 'LD-17005' 'JF-15190' 'CM-12115' 'BP-11290' 'LB-16735'
 'KT-16465' 'AB-10600' 'SZ-20035' 'JR-15670' 'CA-12265' 'JK-16120'
 'PP-18955' 'CK-12760' 'GM-14455' 'SD-20485' 'AB-10105' 'BT-11305'
 'SV-20815' 'IM-15070' 'ME-17320' 'AA-10480' 'MB-18085' 'LC-16930'
 'MB-17305' 'DK-12835' 'NM-18520' 'CM-12655' 'TS-21370' 'JW-15220'
 'AT-10435' 'PC-19000' 'JM-15535' 'AI-10855' 'MC-17845' 'GH-14425'
 'CJ-12010' 'MP-18175' 'CL-11890' 'CK-12205' 'PC-18745' 'SG-20470'
 'MC-18100' 'DP-13390' 'MD-17350' 'AB-10150' 'ML-17395' 'JC-15385'
 'MC-17275' 'TB-21280' 'MM-17920' 'SB-20290' 'AW-10840' 'TS-21610'
 'HZ-14950' 'ND-18370' 'JK-15205' 'MM-18055' 'DC-13285' 'BN-11515'
 'KD-16345' 'FM-14215' 'JW-15955' 'AG-10900' 'ML-17755' 'RM-19375'
 'AS-10135' 'FO-14305' 'BT-11680' 'JL-15235' 'EA-14035' 'BF-10975'
 'KH-16330' 'FA-14230' 'DA-13450' 'FH-14275' 'NC-18625' 'AH-10075'
 'ME-18010' 'BP-11230' 'JG-15160' 'LF-17185' 'RA-19945' 'RW-19540'
 'DB-13660' 'EH-13765' 'NP-18685' 'JE-15715' 'AC-10615' 'LW-16825'
 'AS-10090' 'JS-16030' 'CM-12190' 'AM-10705' 'RH-19510' 'CT-11995'
 'SN-20560' 'CK-12595' 'RD-19480' 'TP-21130' 'GG-14650' 'KA-16525'
 'TR-21325' 'MS-17365' 'MM-17260' 'AH-10120' 'SG-20080' 'RK-19300'
 'JB-15400' 'EH-14005' 'RF-19345' 'TB-21625' 'GT-14635' 'TS-21160'
 'WB-21850' 'AF-10870' 'BF-11170' 'IL-15100' 'SW-20275' 'NS-18505'
 'DK-13375' 'BT-11440' 'DB-13405' 'SJ-20125' 'MV-17485' 'JL-15850'
 'LM-17065' 'JK-15625' 'RS-19420' 'BC-11125' 'EM-13825' 'BM-11575'
 'SC-20260' 'CP-12340' 'AB-10060' 'EH-13990' 'BF-11020' 'BE-11455'
 'SG-20605' 'HM-14860' 'BE-11335' 'JA-15970' 'SV-20935' 'MZ-17515'
 'AZ-10750' 'PW-19240' 'SW-20455' 'CM-11935' 'PF-19225' 'GM-14695'
 'KN-16705' 'KT-16480' 'SC-20575' 'BB-11545' 'DW-13585' 'EM-13810'
 'KD-16615' 'AP-10720' 'BW-11110' 'TM-21010' 'SF-20200' 'SM-20320'
 'SE-20110' 'EN-13780' 'MC-17590' 'BO-11350' 'AG-10300' 'JF-15295'
 'SB-20170' 'TB-21400' 'SH-19975' 'HR-14830' 'HF-14995' 'NL-18310'
 'RR-19525' 'DL-12865' 'CC-12145' 'CP-12085' 'EP-13915' 'FH-14350'
 'MS-17530' 'SC-20770' 'JP-16135' 'SS-20140' 'CD-12790' 'MD-17860'
 'KN-16450' 'DL-13330' 'MH-18025' 'DR-12940' 'DM-13015' 'DM-13345'
 'CC-12370' 'SC-20380' 'BF-11275' 'TD-20995' 'BK-11260' 'HG-14845'
 'LS-17200' 'JM-16195' 'BP-11155' 'TT-21220' 'LH-17020' 'EM-14140'
 'MA-17995' 'AY-10555' 'Co-12640' 'JF-15565' 'DV-13045' 'GB-14575'
 'CL-12565' 'JB-16045' 'NW-18400' 'JB-16000' 'DM-12955' 'JH-16180'
 'AS-10045' 'ZD-21925' 'KF-16285' 'TC-21475' 'HH-15010' 'YC-21895'
 'KM-16375' 'TP-21415' 'DB-12910' 'CS-12355' 'JG-15310' 'MS-17770'
 'JE-15610' 'CC-12100' 'JP-15460' 'CS-11845' 'SM-20950' 'TT-21070'
 'RD-19900' 'DW-13195' 'SJ-20215' 'BG-11740' 'AH-10030' 'TH-21100'
 'HG-15025' 'EB-13750' 'TS-21505' 'TH-21550' 'PR-18880' 'CA-12310'
 'MC-17425' 'LC-17050' 'Dp-13240' 'LB-16795' 'DE-13255' 'CC-12610'
 'RH-19600' 'CA-12055' 'SC-20020' 'MG-17875' 'RD-19810' 'MT-17815'
 'KD-16495' 'RB-19330' 'JC-15775' 'ML-17410' 'MH-17620' 'MF-17665'
 'RS-19765' 'AB-10255' 'RM-19750' 'KB-16585' 'CM-12160' 'EJ-13720'
 'NC-18415' 'AH-10690' 'LS-17230' 'MY-18295' 'KE-16420' 'DH-13675'
 'GH-14410' 'JF-15355' 'PF-19120' 'SP-20860' 'VT-21700' 'MM-18280'
 'MH-17455' 'TS-21340' 'DN-13690' 'RB-19360' 'ED-13885' 'JM-15250'
 'EB-13930' 'TH-21235' 'PL-18925' 'CS-12175' 'AR-10540' 'DB-13120'
 'DK-12895' 'AA-10645' 'JO-15145' 'GA-14515' 'LH-16900' 'DL-13495'
 'MG-18145' 'NC-18535' 'SR-20740' 'SJ-20500' 'BS-11365' 'SH-20635'
 'RM-19675' 'CA-11965' 'AH-10585' 'GZ-14470' 'RR-19315' 'JL-15835'
 'AS-10630' 'JK-15730' 'CC-12670' 'VS-21820' 'BW-11200' 'RD-19720'
 'VF-21715' 'ES-14080' 'RL-19615' 'GK-14620' 'JF-15490' 'MG-17650'
 'MC-18130' 'MG-17890' 'HA-14905' 'DB-13360' 'SV-20785' 'DB-13555'
 'AG-10270' 'NR-18550' 'RB-19435' 'GT-14755' 'ES-14020' 'CM-12385'
 'MF-18250' 'EB-14110' 'TB-21175' 'AC-10660' 'AB-10015' 'CL-12700'
 'RB-19645' 'SS-20410' 'HR-14770' 'AH-10465' 'MA-17560' 'BD-11500'
 'TS-21430' 'FP-14320' 'JL-15175' 'KW-16570' 'AJ-10945' 'CS-12250'
 'RE-19450' 'SR-20425' 'TM-21490' 'AH-10195' 'AB-10165' 'CV-12295'
 'NH-18610' 'AG-10495' 'GR-14560' 'MH-17290' 'DM-13525' 'TA-21385'
 'DB-13210' 'TH-21115' 'MS-17980' 'DB-12970' 'SU-20665' 'RF-19840'
 'SC-20695' 'ML-18040' 'TG-21640' 'RB-19705' 'SS-20875' 'DH-13075'
 'BW-11065' 'FH-14365' 'SC-20440' 'JK-16090' 'MG-18205' 'CR-12730'
 'KB-16405' 'BS-11665' 'PO-19180' 'RA-19885' 'BD-11770' 'AG-10390'
 'SW-20245' 'BF-11215' 'SP-20920' 'JR-16210' 'TB-21190' 'AO-10810'
 'EK-13795' 'DB-13270' 'CM-12445' 'YS-21880' 'JF-15415' 'LO-17170'
 'ME-17725' 'MZ-17335' 'TP-21565' 'LW-17125' 'XP-21865' 'SH-20395'
 'TT-21460' 'EC-14050' 'BS-11590' 'KN-16390' 'SS-20515' 'SP-20545'
 'ON-18715' 'MV-18190' 'VP-21760' 'PM-18940' 'TW-21025' 'TC-21145'
 'PS-18760' 'SC-20230' 'ST-20530' 'AR-10570' 'CY-12745' 'AT-10735'
 'AG-10330' 'VB-21745' 'SC-20305' 'JS-15595' 'AW-10930' 'CB-12415'
 'DO-13645' 'MN-17935' 'SP-20650' 'AR-10345' 'AA-10315' 'CC-12475'
 'TC-21295' 'BS-11380' 'RB-19570' 'TB-21250' 'JM-15655' 'FC-14335'
 'JM-15865' 'NB-18580' 'ER-13855' 'LW-17215' 'PW-19030' 'GM-14500'
 'DW-13540' 'TG-21310' 'JS-15685' 'TS-21655' 'DC-12850' 'PO-19195'
 'EM-14200' 'CR-12580' 'CM-11815' 'CM-12715' 'LC-16960' 'CR-12820'
 'RD-19930' 'CS-12490' 'JD-15790' 'PT-19090' 'LP-17095' 'GZ-14545'
 'GW-14605' 'SC-20680' 'MH-17440' 'EJ-14155' 'BD-11635' 'HE-14800'
 'NP-18670' 'EM-14065' 'AG-10525' 'HM-14980' 'BP-11095' 'SB-20185'
 'CR-12625' 'DF-13135' 'JL-15130' 'JH-15430' 'JG-15115' 'ND-18460'
 'LR-17035' 'KM-16660' 'FM-14380' 'HJ-14875' 'JH-15820' 'AM-10360'
 'SM-20005' 'DP-13105' 'MW-18220' 'CD-12280' 'CM-12235' 'PB-18805'
 'RP-19270' 'EB-14170' 'SM-20905' 'BF-11005' 'FC-14245' 'JH-15985'
 'BT-11485' 'QJ-19255' 'BG-11035' 'SC-20845' 'IM-15055']

In [17]:
#Question 139: Find customers who purchased only technology.

technology_customers = df[df['Category'] == "Technology"]['Customer ID'].unique()

print(technology_customers)

['BH-11710' 'ZD-21925' 'EH-13945' 'GH-14485' 'SN-20710' 'LC-16930'
 'ON-18715' 'LH-16900' 'JM-15265' 'TB-21055' 'KM-16720' 'BS-11590'
 'PG-18895' 'JS-15685' 'RB-19465' 'LC-16870' 'JM-15250' 'PA-19060'
 'SC-20725' 'DW-13585' 'JE-16165' 'TW-21025' 'NP-18670' 'EM-13960'
 'BM-11140' 'DK-13150' 'RM-19675' 'FM-14290' 'MP-17470' 'LE-16810'
 'JH-15985' 'MS-17980' 'VW-21775' 'JH-15910' 'JB-15925' 'CS-12400'
 'KL-16645' 'KC-16540' 'DR-12880' 'CC-12670' 'SB-20290' 'RC-19825'
 'AH-10210' 'HA-14920' 'TB-21520' 'NZ-18565' 'AG-10525' 'NM-18445'
 'GK-14620' 'PO-18850' 'JL-15850' 'DB-13615' 'JD-15895' 'CC-12550'
 'AB-10060' 'AG-10900' 'LA-16780' 'DO-13435' 'DK-13225' 'MV-18190'
 'JG-15115' 'AG-10675' 'KH-16510' 'JE-15745' 'SD-20485' 'RB-19795'
 'MK-18160' 'PO-19180' 'RB-19360' 'KH-16630' 'JP-15520' 'KH-16690'
 'XP-21865' 'EM-14065' 'MT-18070' 'SA-20830' 'CW-11905' 'SS-20590'
 'LS-17245' 'AD-10180' 'DB-13210' 'LH-17155' 'RL-19615' 'BD-11500'
 'ES-14080' 'FP-14320' 'JF-15415' 'DV-13465' 'ZC-21910' 'MS-17830'
 'LR-16915' 'CK-12205' 'AR-10510' 'NB-18655' 'GD-14590' 'CK-12595'
 'NG-18355' 'FM-14380' 'BD-11605' 'SC-20305' 'AR-10825' 'AR-10405'
 'TH-21235' 'RB-19570' 'CD-11980' 'GT-14635' 'MC-17845' 'NP-18325'
 'AB-10165' 'BN-11470' 'DP-13165' 'RS-19765' 'JF-15355' 'DS-13030'
 'GZ-14470' 'PB-19105' 'YC-21895' 'DC-13285' 'LH-17020' 'CS-12250'
 'BV-11245' 'BM-11785' 'JK-15730' 'HW-14935' 'RA-19915' 'AA-10375'
 'PJ-19015' 'TR-21325' 'PG-18820' 'JB-15400' 'EB-13705' 'AF-10885'
 'CK-12760' 'AJ-10795' 'PK-18910' 'CC-12430' 'JE-15475' 'TH-21550'
 'DB-13060' 'PO-18865' 'BE-11335' 'BM-11650' 'SE-20110' 'JM-15535'
 'RA-19885' 'JA-15970' 'DL-13315' 'PO-19195' 'BW-11110' 'TZ-21580'
 'AS-10630' 'MW-18235' 'RH-19495' 'AT-10735' 'JS-15880' 'KM-16225'
 'GT-14710' 'DE-13255' 'MO-17500' 'LC-16885' 'TS-21160' 'MS-17710'
 'KD-16270' 'CY-12745' 'LW-16990' 'PV-18985' 'CS-12355' 'HL-15040'
 'AP-10915' 'NC-18340' 'AP-10720' 'CA-12055' 'BT-11530' 'LH-16750'
 'SP-20620' 'BF-11170' 'BG-11695' 'MO-17800' 'IM-15070' 'MH-18115'
 'JR-15700' 'CC-12220' 'KC-16255' 'QJ-19255' 'CS-12460' 'LW-16825'
 'AB-10255' 'CM-12115' 'AS-10045' 'HM-14860' 'AB-10600' 'MG-17890'
 'VD-21670' 'PP-18955' 'KM-16375' 'BT-11305' 'SV-20815' 'RW-19540'
 'LT-17110' 'MC-17425' 'MB-17305' 'KD-16345' 'CP-12340' 'CM-12655'
 'AT-10435' 'CS-12505' 'CL-11890' 'EP-13915' 'AB-10150' 'JO-15550'
 'AW-10840' 'SC-20095' 'MC-18100' 'RD-19480' 'JO-15280' 'ML-17395'
 'PL-18925' 'JC-15385' 'JG-15160' 'CL-12565' 'NW-18400' 'FH-14365'
 'VM-21685' 'SF-20200' 'CD-12280' 'TH-21100' 'NS-18505' 'RB-19645'
 'RD-19585' 'JK-15205' 'CA-12265' 'DB-13120' 'TT-21460' 'RM-19375'
 'GG-14650' 'BD-11770' 'JE-15610' 'RP-19855' 'MR-17545' 'PB-19210'
 'CH-12070' 'BS-11755' 'SL-20155' 'GW-14605' 'RK-19300' 'GM-14440'
 'JC-15775' 'DW-13480' 'DK-12835' 'SC-20770' 'FH-14275' 'EH-13990'
 'SC-20230' 'GM-14680' 'EA-14035' 'AC-10615' 'RW-19690' 'BD-11320'
 'ML-17755' 'JD-16015' 'AS-10225' 'NG-18430' 'CB-12415' 'ND-18460'
 'LW-17215' 'RW-19630' 'SC-20800' 'MC-17590' 'TP-21130' 'DB-13270'
 'MS-17365' 'RD-19900' 'SG-20080' 'EH-14005' 'BS-11665' 'WB-21850'
 'RB-19435' 'JH-15820' 'CJ-12010' 'RH-19600' 'IL-15100' 'AW-10930'
 'ML-17410' 'MH-17620' 'DK-13375' 'DJ-13630' 'CT-11995' 'BF-11005'
 'MZ-17335' 'MW-18220' 'LM-17065' 'DL-13495' 'SV-20935' 'EM-13825'
 'GM-14455' 'SC-20260' 'MP-17965' 'CV-12295' 'SG-20605' 'PJ-18835'
 'MG-18145' 'TM-21010' 'ML-18040' 'AF-10870' 'DB-13405' 'PF-19225'
 'KN-16705' 'TB-21250' 'JM-15865' 'KT-16480' 'MY-17380' 'KW-16570'
 'BB-11545' 'CD-12790' 'TT-21220' 'DJ-13510' 'LO-17170' 'SV-20365'
 'PF-19165' 'HR-14830' 'BD-11635' 'CM-12235' 'EN-13780' 'JM-15655'
 'TA-21385' 'TB-21400' 'DG-13300' 'HG-15025' 'CS-12130' 'SM-20320'
 'CC-12145' 'CP-12085' 'SC-20680' 'SK-19990' 'FH-14350' 'EB-13750'
 'GA-14515' 'ES-14020' 'NK-18490' 'MO-17950' 'SS-20140' 'LD-17005'
 'AS-10285' 'KN-16450' 'JS-15595' 'MP-18175' 'BD-11620' 'ND-18370'
 'TC-21295' 'SC-20380' 'Dp-13240' 'JC-16105' 'EB-13975' 'DL-12925'
 'EM-14140' 'MC-17635' 'SR-20425' 'BP-11230' 'TC-21475' 'SW-20350'
 'TS-21370' 'DM-13345' 'JD-16150' 'BF-11215' 'KB-16405' 'TP-21415'
 'DB-12910' 'MS-17770' 'EB-14110' 'CC-12100' 'LS-16975' 'CS-11845'
 'NF-18385' 'EM-13810' 'HF-14995' 'KB-16585' 'TB-21280' 'JP-15460'
 'DW-13195' 'SJ-20215' 'BP-11185' 'SJ-20125' 'MA-17560' 'TS-21205'
 'EH-14185' 'PS-19045' 'GM-14695' 'KT-16465' 'CS-11950' 'PR-18880'
 'CA-12310' 'SO-20335' 'MG-17650' 'DH-13075' 'AS-10090' 'SF-20965'
 'SJ-20500' 'CC-12610' 'KB-16240' 'RD-19930' 'SC-20020' 'SU-20665'
 'JL-15835' 'ME-17320' 'TS-21505' 'JK-15640' 'LC-17140' 'NP-18700'
 'NC-18535' 'RA-19285' 'SH-19975' 'BC-11125' 'DB-13555' 'SC-20050'
 'BT-11680' 'FA-14230' 'JW-15955' 'VM-21835' 'JJ-15760' 'RF-19735'
 'JK-15370' 'PN-18775' 'RH-19510' 'MC-17575' 'EH-14125' 'KL-16555'
 'NC-18415' 'AH-10690' 'CC-12685' 'MY-18295' 'DM-13015' 'JK-16120'
 'SV-20785' 'SP-20860' 'SH-20395' 'MG-17680' 'VT-21700' 'AB-10105'
 'VG-21805' 'NH-18610' 'FG-14260' 'CC-12370' 'DK-12895' 'KM-16660'
 'AA-10645' 'JO-15145' 'KE-16420' 'NP-18685' 'KW-16435' 'NC-18625'
 'MM-17920' 'TT-21070' 'RB-19330' 'SW-20245' 'AH-10465' 'TP-21565'
 'CR-12820' 'CM-12160' 'HK-14890' 'CC-12475' 'BS-11365' 'CA-11965'
 'EB-13870' 'AH-10585' 'ST-20530' 'KB-16315' 'SS-20875' 'RD-19720'
 'JL-15130' 'AG-10330' 'LL-16840' 'CD-11920' 'TB-21355' 'MC-18130'
 'DS-13180' 'JF-15565' 'Co-12640' 'JF-15295' 'LT-16765' 'NS-18640'
 'AC-10450' 'CM-12385' 'MK-17905' 'MH-17455' 'RE-19450' 'PF-19120'
 'SC-20440' 'KN-16390' 'TB-21175' 'RF-19345' 'MS-17530' 'BM-11575'
 'KS-16300' 'TC-21535' 'BE-11455' 'JR-16210' 'LR-17035' 'SS-20410'
 'EG-13900' 'DD-13570' 'JM-15580' 'BK-11260' 'GM-14500' 'SW-20455'
 'GH-14410' 'AG-10495' 'BT-11395' 'AI-10855' 'AA-10315' 'DN-13690'
 'BF-11020' 'EJ-14155' 'EC-14050' 'SZ-20035' 'TM-21490' 'JK-15325'
 'CV-12805' 'ML-18265' 'TB-21625' 'JE-15715' 'NM-18520' 'MM-18055'
 'TH-21115' 'JK-16090' 'JM-16195' 'SG-20470' 'DB-12970' 'VP-21730'
 'BP-11095' 'BG-11035' 'SC-20695' 'AH-10120' 'TG-21640' 'HR-14770'
 'DK-13090' 'AR-10345' 'JD-15790' 'MN-17935' 'MJ-17740' 'DO-13645'
 'VG-21790' 'CB-12535' 'KF-16285' 'LS-16945' 'GA-14725' 'EM-14200'
 'JF-15190' 'AC-10660' 'MC-17605' 'GB-14575' 'AM-10705' 'SB-20185'
 'JS-16030' 'CG-12040' 'AZ-10750' 'DB-13660' 'BG-11740' 'BF-11275'
 'DB-13360' 'TB-21595' 'FC-14335' 'SP-20650' 'AJ-10780' 'NR-18550'
 'SS-20515' 'LC-17050' 'FC-14245' 'BP-11050' 'EJ-13720' 'RO-19780'
 'MB-18085' 'CA-12775' 'DL-13330' 'CM-11815' 'DP-13105' 'KB-16600'
 'TC-21145' 'CL-12700' 'PS-18760' 'TC-20980' 'PW-19030' 'MF-18250'
 'HA-14905' 'TN-21040' 'HM-14980' 'FM-14215' 'SP-20545' 'CS-11860'
 'KH-16330' 'PK-19075' 'MH-17290' 'RC-19960' 'TG-21310' 'BP-11155'
 'JK-15625' 'DV-13045' 'GH-14425' 'AG-10270' 'ME-17725' 'AR-10540'
 'PM-19135' 'CM-12190' 'BS-11380' 'CM-12715' 'YS-21880' 'SW-20755'
 'EM-14095' 'LB-16795' 'DR-12940' 'AA-10480' 'CM-11935' 'EK-13795'
 'RF-19840' 'VS-21820' 'KA-16525' 'TS-21655' 'DC-12850' 'SR-20740'
 'CR-12580' 'DM-13525' 'CB-12025' 'JJ-15445' 'LP-17095' 'KD-16495'
 'BW-11200' 'KH-16360' 'DH-13675' 'MT-17815' 'GZ-14545' 'NL-18310'
 'JW-15220' 'JL-15235' 'HE-14800' 'AH-10075' 'RA-19945' 'JB-16045'
 'SP-20920' 'GB-14530' 'JL-15175' 'RP-19390' 'ED-13885' 'RD-19810'
 'TS-21430' 'BO-11350' 'AB-10015' 'AH-10030' 'PW-19240' 'FO-14305'
 'AM-10360' 'AY-10555' 'DF-13135' 'JH-15430' 'LW-17125' 'JP-16135'
 'VP-21760' 'HZ-14950' 'RR-19525' 'AJ-10945' 'MM-18280' 'MA-17995'
 'EB-13930' 'FW-14395' 'MG-17695' 'DP-13000' 'JL-15505' 'BB-10990'
 'PB-19150' 'SW-20275' 'JH-16180' 'RP-19270' 'CK-12325' 'BE-11410'
 'PB-18805' 'BD-11560' 'SM-20905' 'RB-19705' 'HG-14965' 'MZ-17515'
 'DA-13450' 'HP-14815' 'MD-17350' 'NF-18475' 'LF-17185' 'CS-12490'
 'DL-12865' 'JF-15490' 'IM-15055']

In [18]:
#Question 140: Find customers who purchased only office supplies.

office_supplies_customers = df[df['Category'] == "Office Supplies"]['Customer ID'].unique()

print(office_supplies_customers)

['DV-13045' 'SO-20335' 'BH-11710' 'AA-10480' 'IM-15070' 'HP-14815'
 'PK-19075' 'AG-10270' 'ZD-21925' 'KB-16585' 'EH-13945' 'TB-21520'
 'MA-17560' 'SN-20710' 'RA-19885' 'ES-14080' 'ON-18715' 'PO-18865'
 'DP-13000' 'JM-15265' 'TB-21055' 'KM-16720' 'BS-11590' 'KD-16270'
 'HM-14980' 'JE-15745' 'KB-16600' 'SC-20770' 'DN-13690' 'JC-16105'
 'CS-12400' 'PG-18895' 'GM-14455' 'JS-15685' 'KB-16315' 'RB-19705'
 'KD-16345' 'ER-13855' 'RB-19465' 'GZ-14470' 'LC-16870' 'JM-15250'
 'CL-12565' 'RC-19960' 'GG-14650' 'SC-20725' 'TS-21610' 'DW-13585'
 'LC-16885' 'SH-19975' 'SG-20080' 'HA-14920' 'JE-16165' 'TW-21025'
 'SP-20650' 'NK-18490' 'NP-18670' 'TT-21070' 'RD-19900' 'MJ-17740'
 'BM-11140' 'CS-12130' 'JB-15400' 'SJ-20500' 'JK-15640' 'DK-13150'
 'SK-19990' 'AM-10360' 'MP-17470' 'MZ-17515' 'CB-12025' 'VM-21685'
 'FH-14365' 'MB-17305' 'BS-11755' 'LC-17140' 'JH-15985' 'VW-21775'
 'JH-15910' 'JB-15925' 'DS-13180' 'EA-14035' 'DB-13120' 'KL-16645'
 'DW-13480' 'KC-16540' 'DL-13315' 'DR-12880' 'CC-12670' 'Dl-13600'
 'CB-12535' 'CA-12310' 'KH-16690' 'BB-10990' 'AG-10495' 'AH-10195'
 'NZ-18565' 'KL-16555' 'JD-15895' 'CR-12625' 'SH-20395' 'BP-11185'
 'AG-10525' 'SP-20860' 'NM-18445' 'FA-14230' 'GK-14620' 'PO-18850'
 'JL-15850' 'DB-13615' 'AC-10420' 'TD-20995' 'AB-10060' 'JL-15505'
 'HK-14890' 'VB-21745' 'KW-16435' 'JD-16060' 'MK-17905' 'GT-14755'
 'AG-10900' 'MM-18280' 'RA-19915' 'AS-10285' 'NG-18430' 'MV-18190'
 'BP-11095' 'VP-21730' 'SS-20140' 'AG-10675' 'LF-17185' 'RF-19840'
 'KH-16510' 'KC-16675' 'CJ-12010' 'MP-17965' 'KH-16630' 'RB-19795'
 'DB-13060' 'MK-18160' 'PO-19180' 'BB-11545' 'RB-19360' 'EB-13705'
 'NF-18385' 'TN-21040' 'MH-17785' 'JP-15520' 'JG-15805' 'EM-14065'
 'MT-18070' 'CW-11905' 'AJ-10960' 'MD-17350' 'SC-20095' 'MY-17380'
 'CM-12385' 'BN-11515' 'AD-10180' 'DB-13210' 'BD-11605' 'MG-18145'
 'RL-19615' 'AA-10375' 'EP-13915' 'DK-12985' 'LM-17065' 'AS-10135'
 'DK-13225' 'GT-14710' 'AJ-10945' 'OT-18730' 'LP-17080' 'CA-12775'
 'JF-15490' 'EB-13840' 'JF-15415' 'SF-20200' 'TG-21640' 'CS-11950'
 'CC-12145' 'DV-13465' 'BD-11725' 'ZC-21910' 'MS-17830' 'LR-16915'
 'TP-21130' 'CK-12205' 'AS-10240' 'AR-10510' 'NB-18655' 'GD-14590'
 'CK-12595' 'NG-18355' 'CA-12265' 'SF-20965' 'AT-10735' 'FM-14380'
 'ME-17725' 'JL-15835' 'CC-12430' 'SR-20740' 'AR-10405' 'CR-12730'
 'EH-14125' 'SP-20545' 'RC-19825' 'TH-21235' 'MO-17800' 'RB-19570'
 'CD-11980' 'DJ-13630' 'GT-14635' 'MC-17845' 'NP-18325' 'AB-10165'
 'JO-15550' 'BN-11470' 'DP-13165' 'TH-21550' 'AP-10915' 'RS-19765'
 'CK-12325' 'RD-19810' 'SC-20695' 'JF-15355' 'EG-13900' 'DS-13030'
 'PO-19195' 'SS-20875' 'RF-19735' 'DC-13285' 'CP-12340' 'BF-11020'
 'CS-12250' 'BV-11245' 'DL-12865' 'BM-11785' 'SA-20830' 'ES-14020'
 'RH-19495' 'HW-14935' 'MC-18130' 'BW-11110' 'TR-21325' 'LH-17020'
 'JL-15175' 'BM-11650' 'EM-14095' 'DP-13105' 'VD-21670' 'BK-11260'
 'SJ-20125' 'CM-12445' 'AJ-10795' 'AJ-10780' 'LS-16945' 'GP-14740'
 'PK-18910' 'SM-20005' 'GA-14725' 'AG-10765' 'DK-13090' 'JS-15595'
 'EL-13735' 'CK-12760' 'JE-15475' 'PC-18745' 'HL-15040' 'MS-17365'
 'GB-14530' 'JR-16210' 'BE-11335' 'RW-19630' 'SE-20110' 'AH-10075'
 'JM-15535' 'JJ-15760' 'RK-19300' 'CG-12040' 'RP-19270' 'KC-16255'
 'GH-14665' 'SW-20275' 'JA-15970' 'TB-21190' 'CV-12805' 'BS-11800'
 'RW-19690' 'TZ-21580' 'AS-10630' 'TS-21340' 'MW-18235' 'RD-19585'
 'FM-14290' 'RA-19945' 'JK-15730' 'MT-17815' 'PF-19165' 'KM-16225'
 'PB-19150' 'HR-14770' 'DE-13255' 'LA-16780' 'AG-10390' 'JJ-15445'
 'JH-15430' 'NS-18640' 'DG-13300' 'NF-18595' 'MG-17650' 'TS-21160'
 'CM-12160' 'SN-20560' 'EH-14005' 'FO-14305' 'MS-17710' 'CC-12100'
 'DW-13540' 'BT-11395' 'CY-12745' 'BT-11485' 'PS-19045' 'PV-18985'
 'RP-19390' 'NM-18520' 'DL-13495' 'CS-12355' 'PA-19060' 'JS-15940'
 'FH-14275' 'NC-18340' 'AA-10315' 'LT-16765' 'AP-10720' 'PM-18940'
 'LT-17110' 'AT-10435' 'HR-14830' 'BT-11530' 'SW-20755' 'SP-20620'
 'BF-11170' 'KT-16480' 'PG-18820' 'GM-14680' 'EJ-14155' 'MH-18115'
 'SM-20950' 'PF-19225' 'DC-12850' 'BD-11770' 'GM-14500' 'TB-21355'
 'JH-16180' 'EB-13975' 'HG-14965' 'LW-16825' 'MC-17575' 'LP-17095'
 'EB-14170' 'GZ-14545' 'LE-16810' 'CP-12085' 'FG-14260' 'AB-10255'
 'MN-17935' 'JR-15670' 'CM-12115' 'AS-10045' 'LW-16990' 'ND-18370'
 'HM-14860' 'AB-10600' 'PP-18955' 'YS-21880' 'KM-16375' 'SD-20485'
 'SZ-20035' 'HA-14905' 'RW-19540' 'DK-12835' 'FP-14320' 'ST-20530'
 'BD-11320' 'MM-17920' 'PW-19030' 'SC-20440' 'TS-21085' 'MC-17425'
 'ME-17320' 'NH-18610' 'KD-16495' 'KN-16390' 'NP-18685' 'CS-12505'
 'MS-17770' 'Co-12640' 'TS-21370' 'JD-15790' 'PC-19000' 'AR-10540'
 'LS-16975' 'TB-21400' 'PL-18925' 'GH-14425' 'JM-15655' 'CL-11890'
 'DB-13270' 'IG-15085' 'BO-11425' 'JW-16075' 'EB-13750' 'CM-12190'
 'AW-10840' 'TT-21460' 'VG-21805' 'MY-18295' 'AB-10150' 'JO-15280'
 'JK-16120' 'PN-18775' 'JC-15385' 'NW-18400' 'TB-21280' 'BS-11380'
 'HH-15010' 'CD-12280' 'MM-18055' 'QJ-19255' 'NS-18505' 'SW-20455'
 'EB-13930' 'SB-20290' 'PS-18760' 'HF-14995' 'CD-12790' 'JK-15205'
 'JK-15370' 'LH-17155' 'ED-13885' 'MC-18100' 'DA-13450' 'SL-20155'
 'MB-18085' 'ML-17755' 'CC-12685' 'JE-15610' 'TB-21175' 'BE-11455'
 'MR-17545' 'JF-15565' 'LL-16840' 'JL-15235' 'ND-18460' 'RM-19375'
 'BF-10975' 'FM-14215' 'CH-12070' 'ME-18010' 'AS-10090' 'AC-10450'
 'MD-17860' 'RP-19855' 'EH-13765' 'SC-20230' 'JE-15715' 'AC-10615'
 'JD-16015' 'AS-10225' 'KT-16465' 'CB-12415' 'JS-16030' 'LW-17215'
 'JW-15955' 'SC-20050' 'JF-15190' 'SC-20800' 'AM-10705' 'RH-19510'
 'CT-11995' 'JW-15220' 'MC-17590' 'CC-12610' 'TC-20980' 'BF-11080'
 'MM-17260' 'SF-20065' 'BW-11200' 'SW-20245' 'RF-19345' 'WB-21850'
 'TB-21625' 'LB-16735' 'KF-16285' 'JH-15820' 'IL-15100' 'PB-18805'
 'BT-11305' 'AW-10930' 'ML-17410' 'DB-13555' 'MH-17620' 'DK-13375'
 'TG-21310' 'BF-11005' 'JM-16195' 'MZ-17335' 'SM-20320' 'TP-21415'
 'PJ-18835' 'MS-17980' 'BC-11125' 'EM-13825' 'BD-11500' 'BM-11575'
 'KN-16705' 'KW-16570' 'CC-12220' 'JK-15625' 'SC-20260' 'CV-12295'
 'SG-20605' 'NP-18700' 'TM-21010' 'EM-13810' 'ML-18040' 'CR-12580'
 'SV-20935' 'PW-19240' 'AF-10870' 'DB-13405' 'JG-15160' 'SC-20380'
 'CS-12460' 'CM-11935' 'AH-10210' 'TB-21250' 'LS-17200' 'RR-19315'
 'RB-19435' 'DB-12910' 'PB-19105' 'TT-21220' 'DJ-13510' 'NB-18580'
 'JM-15865' 'AB-10105' 'RA-19285' 'EN-13780' 'KN-16450' 'MG-17890'
 'AG-10300' 'MC-17635' 'TA-21385' 'TT-21265' 'SB-20170' 'KA-16525'
 'CL-12700' 'HG-15025' 'NL-18310' 'RR-19525' 'TC-21295' 'SV-20785'
 'YC-21895' 'BE-11410' 'GM-14440' 'DF-13135' 'FH-14350' 'RH-19555'
 'GA-14515' 'JP-16135' 'Dp-13240' 'MO-17950' 'MH-18025' 'MP-18175'
 'DR-12940' 'DM-13015' 'CA-11965' 'AC-10660' 'XP-21865' 'DM-13345'
 'VF-21715' 'AF-10885' 'BF-11275' 'HG-14845' 'KH-16330' 'DL-12925'
 'EM-14140' 'AY-10555' 'GB-14575' 'JB-16045' 'MG-17875' 'SR-20425'
 'RB-19645' 'DM-12955' 'SW-20350' 'RE-19450' 'BF-11215' 'KB-16405'
 'JC-15340' 'JG-15310' 'EC-14050' 'BP-11155' 'JP-15460' 'AR-10825'
 'GH-14410' 'PT-19090' 'JL-15130' 'CM-12655' 'AH-10030' 'VG-21790'
 'CC-12475' 'LB-16795' 'CM-11815' 'TS-21205' 'GM-14695' 'JF-15295'
 'EB-13870' 'TH-21100' 'TS-21505' 'PR-18880' 'TC-21535' 'CS-12490'
 'DB-13660' 'EH-14185' 'DH-13075' 'SS-20590' 'TC-21475' 'JD-16150'
 'JO-15145' 'AH-10690' 'DP-13390' 'HJ-14875' 'MH-17455' 'RH-19600'
 'CA-12055' 'RD-19930' 'SC-20020' 'SU-20665' 'SV-20365' 'CC-12550'
 'RD-19660' 'FC-14335' 'RB-19330' 'JC-15775' 'DB-12970' 'MC-17275'
 'BT-11680' 'DO-13435' 'MF-17665' 'RM-19750' 'VM-21835' 'EJ-13720'
 'NC-18415' 'LS-17230' 'PF-19120' 'DW-13195' 'VT-21700' 'SC-20305'
 'JS-15880' 'MG-17695' 'MO-17500' 'KE-16420' 'SP-20920' 'CC-12370'
 'DK-12895' 'KM-16660' 'CS-11845' 'DL-13330' 'LC-16930' 'DD-13570'
 'NC-18625' 'BG-11695' 'AH-10465' 'TP-21565' 'EK-13795' 'CR-12820'
 'SG-20890' 'CS-12175' 'BG-11740' 'AH-10585' 'RD-19480' 'SJ-20215'
 'NF-18475' 'MA-17995' 'LO-17170' 'RS-19420' 'BS-11365' 'RM-19675'
 'RD-19720' 'MV-17485' 'AG-10330' 'RO-19780' 'LH-16900' 'PS-18970'
 'CD-11920' 'MW-18220' 'AA-10645' 'MG-17680' 'BD-11620' 'GW-14605'
 'GR-14560' 'TM-21490' 'SG-20470' 'JB-16000' 'TS-21430' 'AH-10120'
 'EM-13960' 'DJ-13420' 'NR-18550' 'CS-11860' 'PB-19210' 'LW-17125'
 'MS-17530' 'SC-20575' 'AR-10345' 'AB-10015' 'KS-16300' 'LR-17035'
 'SS-20410' 'AI-10855' 'KB-16240' 'JM-15580' 'AZ-10750' 'EB-14110'
 'PJ-19015' 'BO-11350' 'JK-15325' 'DM-13525' 'NC-18535' 'MC-17605'
 'FC-14245' 'LH-16750' 'CG-12520' 'DH-13675' 'TH-21115' 'LC-17050'
 'ML-17395' 'SB-20185' 'SC-20680' 'BP-11230' 'PM-19135' 'BP-11290'
 'JK-16090' 'MG-18205' 'LD-17005' 'LS-17245' 'BS-11665' 'CM-12235'
 'BP-11050' 'BD-11635' 'TS-21655' 'BG-11035' 'EM-14200' 'MH-17440'
 'DB-13360' 'DO-13645' 'EH-13990' 'SS-20515' 'LD-16855' 'SV-20815'
 'VP-21760' 'TC-21145' 'IM-15055' 'BT-11440' 'MF-18250' 'VS-21820'
 'AR-10570' 'MH-17290' 'ML-18265' 'KH-16360' 'CM-12715' 'FW-14395'
 'BW-11065' 'HE-14800' 'LC-16960' 'BD-11560' 'HD-14785' 'CJ-11875'
 'JG-15115' 'RS-19870' 'KD-16615' 'SC-20845' 'RE-19405' 'SM-20905'
 'HZ-14950' 'TB-21595']

In [21]:
#Question 141: Find average order size per segment.

# First calculate order size (total sales per order)
order_sales = df.groupby(['Segment', 'Order ID'])['Sales'].sum().reset_index()

# Now find average order size per segment
avg_order_segment = order_sales.groupby('Segment')['Sales'].mean()

print(avg_order_segment)

Segment
Consumer       449.111116
Corporate      466.411075
Home Office    472.665730
Name: Sales, dtype: float64

In [22]:
#Question 142: Find average discount per segment.

avg_discount_segment = df.groupby('Segment')['Discount'].mean()
print(avg_discount_segment)

Segment
Consumer       0.158141
Corporate      0.158228
Home Office    0.147128
Name: Discount, dtype: float64

In [24]:
#Question 143: Find segment with maximum number of customers.

# Count unique customers per segment
customers_per_segment = df.groupby('Segment')['Customer ID'].nunique()
segment_max_customers = customers_per_segment.idxmax()

print(segment_max_customers)

Consumer

In [25]:
#Question 144: Find segment with minimum number of customers.

segment_min_customers = customers_per_segment.idxmin()

print(segment_min_customers)

Home Office

In [28]:
#Question 145: Find customer with maximum quantity purchased.

customer_max_quantity = df.groupby('Customer ID')['Quantity'].sum().idxmax()
print(customer_max_quantity)

JD-15895

In [29]:
#Question 146: Find customer with minimum quantity purchased.

customer_min_quantity = df.groupby('Customer ID')['Quantity'].sum().idxmin()
print(customer_min_quantity)

AO-10810

In [32]:
#Question 147: Find customer who bought most different products.

customer_most_products = df.groupby('Customer ID')['Product Name'].nunique().idxmax()
print(customer_most_products)

WB-21850

In [34]:
#Question 148: Find customer who bought most categories.

customer_most_categories = df.groupby('Customer ID')['Category'].nunique().idxmax()
print(customer_most_categories)

AA-10315

In [35]:
#Question 149: Find customer who bought most sub-categories.

customer_most_sub_categories = df.groupby('Customer ID')['Sub-Category'].nunique().idxmax()
print(customer_most_sub_categories)

AP-10915

In [36]:
#Question 150: Find customer who bought across most states.

customer_state_count = df.groupby('Customer ID')['State'].nunique().idxmax()
print(customer_state_count)

Dp-13240